*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container{
  display: flex;
}

.key{
  border: 1px solid black;
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}